{% extends 'allauth/layouts/manage.html' %}
{% block content %}
<div class="flex flex-col items-center p-3 gap-3 self-center w-full max-w-[1080px]">
    <div class="sticky top-0 flex flex-row items-center w-full top-3 bg-gray-900 border-1 border-gray-700 rounded-lg p-3 gap-3">
        <img src="https://cdn.discordapp.com/avatars/{{ socialuser.uid }}/{{socialuser.extra_data.avatar}}" 
         class="rounded-full h-16"/>
         <div class="flex-col">
            <h1 class="font-bold">{% if socialuser.extra_data.global_name %}{{ socialuser.extra_data.global_name }}{% else %}{{ user_profile.username }}{% endif %}'s inventory</h1>
            <p class="">Inventory value: ${{ total_value }}</p>
         </div>
    </div>
    {% if page_obj %}
    {% url "inventory:inventory" socialuser.uid as page_url %}
    <div class="grid grid-cols-2 md:grid-cols-5 gap-3 px-3 pt-3 bg-gray-900 rounded-lg">
    {% for i in page_obj %}
        <div class="bg-gray-800 rounded-lg p-3 gap-3">
            <img src={{ i.item.item.image.url }}/>
            <span class="text-sm lg:text-base">{{ i.item.wear }} {% if i.item.stattrak %}StatTrak™ {% endif %}{{ i.item.item.name }}: ${{ i.item.price }}</span>
        </div>
    {% endfor %}
        <div class="sticky bottom-0 col-span-full bg-gray-900 w-full max-w-[1080p]">
            {% include 'inventory/layouts/page_nav.html'%}
        </div>
    </div>
    {% else %}
    <p>Empty inventory</p>
    {% endif %}
</div>
{% endblock content %}