{% extends 'allauth/layouts/manage.html' %}
{% block head_title %}{{ socialuser.extra_data.global_name }}'s profile | Gamblino{% endblock %}
{% block content %}
<div class="flex flex-col p-3 gap-3 self-center w-full max-w-[1080px]">
    <div class="flex flex-row justify-between bg-gray-900 rounded-lg p-3 gap-3">
        <div class="flex flex-row gap-3">
            <img src={% if socialuser.extra_data.avatar is not None %}"https://cdn.discordapp.com/avatars/{{ socialuser.uid }}/{{socialuser.extra_data.avatar}}"{% else %}"https://cdn.discordapp.com/embed/avatars/1.png"{% endif %} 
                class="h-0 min-h-full object-cover rounded-full"/>
            <div class="self-center text-nowrap">
                <h1 class="text-xl lg:text-4xl">
                    {% if socialuser.extra_data.global_name %}
                    {{ socialuser.extra_data.global_name }}
                    {% else %}
                    {{ user_profile.username }}
                    {% endif %}
                </h1>
                <p class="mt-2 text-xs lg:text-base">Cash: ${{ inv.cash }}</p>
                <p class="text-xs lg:text-base">Inventory value: ${{ total_value }}</p>
            </div>
        </div>
        {% url "inventory:inventory" socialuser.uid as inv_url_ %}
        <a class="block self-center bg-gray-800 rounded-lg p-3 hover:bg-gray-700 hover:text-emerald-700"
           href="{% if inv_url_ %}{{ inv_url_ }}{% else %}# {% endif %}">
            Inventory
        </a>
    </div>
    <div class="bg-gray-900 rounded-lg p-3">
        <h2 class="mb-3">Recently opened</h2>
        <div class="flex flex-row gap-3 overflow-x-scroll">
            {% for i in inv.recently_opened %}
            <div class="flex flex-col shrink-0 bg-gray-800 rounded-lg w-32 lg:w-64 p-3 gap-3 text-center text-pretty text-xs lg:text-base">
                <img class="object-contain" src="{{ i.item.item.image.url }}"/>
                {% if i.item.item.rarity == "Mil-Spec Grade" %}
                <span class="text-[#4e6af6]">{% if i.item.stattrak %}<span class="text-[#cf6a32]"> StatTrak™ </span>{% endif %}{{ i.item.item.name }} ({{ i.item.wear }})</span>
                {% elif i.item.item.rarity == "Restricted" %}
                <span class="text-[#7e4ff7]">{% if i.item.stattrak %}<span class="text-[#cf6a32]"> StatTrak™ </span>{% endif %}{{ i.item.item.name }} ({{ i.item.wear }})</span>
                {% elif i.item.item.rarity == "Classified" %}
                <span class="text-[#c047db]">{% if i.item.stattrak %}<span class="text-[#cf6a32]"> StatTrak™ </span>{% endif %}{{ i.item.item.name }} ({{ i.item.wear }})</span>
                {% elif i.item.item.rarity == "Covert" %}
                <span class="text-[#db5a51]">{% if i.item.stattrak %}<span class="text-[#cf6a32]"> StatTrak™ </span>{% endif %}{{ i.item.item.name }} ({{ i.item.wear }})</span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="bg-gray-900 rounded-lg p-3">
        <h2 class="mb-3">Most expensive</h2>
        <div class="flex flex-row gap-3 overflow-x-scroll">
            {% for i in inv.most_expensive %}
            <div class="flex flex-col shrink-0 bg-gray-800 rounded-lg w-32 lg:w-64 p-3 gap-3 text-center text-pretty text-xs lg:text-base">
                <img class="object-contain" src="{{ i.item.item.image.url }}"/>
                {% if i.item.item.rarity == "Mil-Spec Grade" %}
                <span class="text-[#4e6af6]">{% if i.item.stattrak %}<span class="text-[#cf6a32]"> StatTrak™ </span>{% endif %}{{ i.item.item.name }} ({{ i.item.wear }})</span>
                {% elif i.item.item.rarity == "Restricted" %}
                <span class="text-[#7e4ff7]">{% if i.item.stattrak %}<span class="text-[#cf6a32]"> StatTrak™ </span>{% endif %}{{ i.item.item.name }} ({{ i.item.wear }})</span>
                {% elif i.item.item.rarity == "Classified" %}
                <span class="text-[#c047db]">{% if i.item.stattrak %}<span class="text-[#cf6a32]"> StatTrak™ </span>{% endif %}{{ i.item.item.name }} ({{ i.item.wear }})</span>
                {% elif i.item.item.rarity == "Covert" %}
                <span class="text-[#db5a51]">{% if i.item.stattrak %}<span class="text-[#cf6a32]"> StatTrak™ </span>{% endif %}{{ i.item.item.name }} ({{ i.item.wear }})</span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}