<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Gamblino{% endblock %}</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body class="bg-gray-950 font-sans text-white">
        <nav class="bg-gray-900 flex flex-rox w-full justify-between">
            <a href={% url "index" %}
            class="p-3 text-left font-black">
                <h1>
                    Gamblino
                </h1>
            </a>
            <a href={% url "user:index" %}
            class="p-3 text-right">
                <span>
                    Welcome, User
                </span>
            </a>
        </nav>
        <div class="m-3">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>