{% extends "allauth/layouts/entrance.html" %}
{% load allauth %}
{% load socialaccount %}
{% load static%}
{% block head_title %}Gamblino{% endblock %}
{% block content %}
    <div class="items-center justify-center flex">
        <div class="flex flex-col items-center justify-center gap-8">
            <p class="font-bold text-6xl">Welcome to Gamblino<p>
            <a href="accounts/discord/login/"
            class="bg-[#5865F2] inline-flex p-3 m-1 gap-2 rounded-lg">
                <img src="{% static 'icons/Discord-Symbol-Light Blurple.svg' %}"
                    alt="Discord logo"
                    class="h-6 w-6"/> 
                <span class="text-[#E0E3FF] font-[Ginto-Discord]">Log in with Discord</span>
            </a>
        </div>
    </div>
{% endblock content %}