{% if page_obj.has_other_pages %}
<div class="flex flex-row justify-between">
    {% if page_obj.has_previous %}
    {% querystring page=page_obj.previous_page_number as prev_page %}
    <a class="block bg-gray-800 rounded-lg p-2 hover:bg-gray-700 hover:text-emerald-600 active:bg-gray-900"
       href="{{ page_url }}{{ prev_page }}">
        &lt;
    </a>
    {% else %}
    <a inert class="block p-2 text-gray-700">&lt;</a>
    {% endif %}
    <div class="flex flex-row gap-2">
    {% for p in elided_page_range %}
    {% if p == page_obj.paginator.ELLIPSIS %}
        <a inert class="block p-2 text-gray-700">...</a>
    {% elif page_obj.number == p %}
        <a class="block p-2 text-gray-700">{{ p }}</a>
    {% else %}
        <a class="block bg-gray-800 rounded-lg p-2 hover:bg-gray-700 hover:text-emerald-600 active:bg-gray-900"
            href="{{ page_url }}{% querystring page=p %}">
            {{ p }}
        </a>
    {% endif %}
    {% endfor %}
    </div>
    {% if page_obj.has_next %}
    {% querystring page=page_obj.next_page_number as next_page %}
    <a class="block bg-gray-800 rounded-lg p-2 hover:bg-gray-700 hover:text-emerald-600 active:bg-gray-900"
       href="{{ page_url }}{{ next_page }}">
        &gt;
    </a>
    {% else %}
    <a inert class="block p-2 text-gray-700">&gt;</a>
    {% endif %}
</div>
{% endif %}