{% load i18n %}
{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}

        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body class="h-full min-h-dvh has-[div#no-scroll]:max-h-dvh bg-gray-950 flex flex-col font-sans text-white">
        <header>
            <nav class="flex flex-row w-full justify-between items-center p-3 gap-3 bg-gray-900 border-b-1 border-gray-700">
                <a href={% url "index" %} class="text-left text-2xl font-mono lg:text-4xl">Gamblino</a>
                {% if user.is_authenticated %}    
                    <div class="inline-block relative bg-gray-800 rounded-lg group/menu hover:rounded-b-none focus-within:rounded-b-none">
                        {% get_social_accounts user as accounts %}
                        <button class="flex flex-row items-center px-2 py-1 gap-2 rounded-lg outline-1 outline-gray-700 cursor-pointer active:bg-gray-950 focus:bg-gray-900 focus:rounded-b-none focus:border-b-0 group-hover/menu:rounded-b-none group-hover/menu:border-b-0">
                            <img src="https://cdn.discordapp.com/avatars/{{ accounts.discord.0.uid }}/{{accounts.discord.0.extra_data.avatar}}" 
                                    class="rounded-full h-10"/>
                            {{ accounts.discord.0.extra_data.global_name }}
                        </button>
                        {% url "inventory:inventory" accounts.discord.0.uid as inv_url_ %}
                        <div id="menu" class="invisible absolute right-0 w-full z-3 outline-1 divide-y-1 outline-gray-700 divide-gray-700 rounded-b-lg group-focus-within/menu:visible group-hover/menu:visible">
                            <a href={% url "inventory:profile_redirect" %}
                                class="block bg-gray-800 text-nowrap p-2 hover:bg-gray-700 hover:text-emerald-600 active:bg-gray-900">
                                Profile
                            </a>
                            <a href="{% if inv_url_ %}{{ inv_url_ }}{% else %}# {% endif %}"
                                class="block bg-gray-800 text-nowrap p-2 hover:bg-gray-700 hover:text-emerald-600 active:bg-gray-900">
                                Inventory
                            </a>
                            <a href={% url "account_logout" %}
                                class="block bg-gray-800 rounded-b-lg text-nowrap p-2 hover:bg-gray-700 hover:text-emerald-600 active:bg-gray-900">
                                Log out
                            </a>
                        </div>
                    </div>
                {% endif %}
            </nav>
        </header>
        {% block body %}
            {% block content %}
            {% endblock content %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>
